body {
    --steam-green: #4c5945;
    --steam-text-light: #8a9682;
    --steam-primary-text: #d2dfca;
    --steam-dark-green: #414538;
    --steam-text-highlight: #b2b682;
    --steam-yellow: #c6b552;
}

@font-face {
    font-family: "Steam Tahoma Bitmap";
    src: url(./SteamTahomaBitmap.ttf);
}

.steamWindowContent {
    background-color: var(--steam-green);
    color: var(--steam-text-light);
    width: 100%;
    height: 100%;

    font-size: 12px;
    box-sizing: border-box;

    font-family: "Steam Tahoma Bitmap", Tahoma, Geneva, Verdana, sans-serif;
}

.steamWindowContent hr {
    border-color: var(--steam-text-light);
    background-color: var(--steam-text-light);
}

.window[data-process="steam.exe"] {
    background-color: var(--steam-green);
    border: 1px solid var(--steam-dark-green);
    border-top-color: var(--steam-text-light);
    border-left-color: var(--steam-text-light);
    box-sizing: border-box;
    border-radius: 0;
    overflow: hidden;
}

.window[data-process="steam.exe"] .titleBarBackground {
    background: var(--steam-green);
}
.window[data-process="steam.exe"] .titleBarBackground:before {
    display: none;
}
.window[data-process="steam.exe"] .titleBarBackground:after {
    display: none;
}

.window[data-process="steam.exe"] .windowIcon {
    width: 20px;
    height: 20px;
}

.window[data-process="steam.exe"] .titleBar {
    font-weight: normal;
}

.window[data-process="steam.exe"]:not(.windowFocused) .titleBar {
    color: var(--steam-text-light);
}

.window[data-process="steam.exe"] .windowButtons button {
    background: transparent;
    border: none;
    box-shadow: none;
    color: var(--steam-text-light);
}

.steamMainWindow {
    padding-top: 4px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}

.steamMainWindowButtons {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(6, 30px);
    gap: 4px;
    column-gap: 8px;
    align-items: center;
}
.steamButton {
    height: 24px;
    width: 76px;
    text-align: start;
    background-color: transparent;
    color: white;
    border: 1px solid var(--steam-dark-green);
    border-top-color: var(--steam-text-light);
    border-left-color: var(--steam-text-light);

    font-family: "Steam Tahoma Bitmap", Tahoma, Geneva, Verdana, sans-serif;
}
.steamButton:active {
    background-color: var(--steam-dark-green);
}
.steamButton:focus {
    border: 1px solid black;
    outline: none;
}
.steamButton:disabled {
    color: var(--steam-dark-green);
    text-shadow: 1px 1px var(--steam-text-light);
}

.steamMainWindowFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.steamHighlightText {
    color: var(--steam-text-highlight);
}
.steamGamesHeader .steamHighlightText {
    padding-left: 20px;
    font-size: 10px;
}
.steamGamesHeader hr {
    background-color: black;
    border-color: black;
    margin-bottom: 0;
    margin-top: 2px;
}

.steamGamesList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.steamGamesListGame img {
    padding-right: 4px;
    width: 16px;
    height: 16px;
}
.steamGamesListGame.installed {
    color: white;
}

.steamGamesWindow {
    padding-left: 6px;
    box-sizing: border-box;
}
.steamGamesListGame button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: inherit;
    border: none;
    text-align: start;
    margin: 0;
    padding: 0;
}

.steamInstallWindow {
    padding: 28px;
    padding-bottom: 10px;
    padding-right: 20px;

    color: var(--steam-primary-text);
    display: flex;
    flex-direction: column;

    font-size: 14px;
}
.steamInstallStep {
    flex-grow: 1;
}

.aboutToInstall {
    margin-bottom: 50px;
}

.steamInstallDetails {
    display: grid;
    gap: 16px;
    column-gap: 28px;
    grid-template-columns: auto 1fr;
}
.steamFilesize {
    color: var(--steam-text-highlight);
}
.allFilesDownloaded {
    color: var(--steam-text-light);
}

.wizardButtons {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
}

.cancelButton {
    margin-left: 20px;
}

.steamInstallingLabel {
    margin-bottom: 4px;
    display: inline-block;
}

.steamInstallProgress {
    height: 24px;
    width: 100%;
    background-color: var(--steam-dark-green);
    border: 1px solid var(--steam-text-light);
    border-top-color: var(--steam-dark-green);
    border-left-color: var(--steam-dark-green);

    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    padding-left: 3px;
}

.steamInstallBlock {
    width: 8px;
    height: 16px;
    background-color: var(--steam-yellow);
}
