.startButton {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    height: 34px;

    margin-right: 10px;
}
.startButton:hover {
    filter: brightness(110%);
}
.startButton:active {
    filter: brightness(90%);
}

.taskbar {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 34px;

    display: flex;
    align-items: center;

    background-image: linear-gradient(
        rgb(31, 47, 134) 0px,
        rgb(49, 101, 196) 3%,
        rgb(54, 130, 229) 6%,
        rgb(68, 144, 230) 10%,
        rgb(56, 131, 229) 12%,
        rgb(43, 113, 224) 15%,
        rgb(38, 99, 218) 18%,
        rgb(35, 91, 214) 20%,
        rgb(34, 88, 213) 23%,
        rgb(33, 87, 214) 38%,
        rgb(36, 93, 219) 54%,
        rgb(37, 98, 223) 86%,
        rgb(36, 95, 220) 89%,
        rgb(33, 88, 212) 92%,
        rgb(29, 78, 192) 95%,
        rgb(25, 65, 165) 98%
    );
}

.taskbarButton {
    box-sizing: border-box;
    position: relative;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    max-width: 150px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    text-align: start;
    border-radius: 2px;

    color: white;
    background-color: rgb(60, 129, 243);

    box-shadow: rgba(0, 0, 0, 0.3) -1px 0 inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset;

    border: none;

    padding-left: 8px;
    padding-right: 8px;
    margin-top: 2px;
}
.taskbarButton:hover {
    background-color: rgb(83, 163, 255);
    box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset;
}
.taskbarIcon {
    width: 15px;
    height: 15px;

    margin-right: 3px;
}
.taskbarTitle {
    pointer-events: none;
    padding-right: 5px;
    letter-spacing: 0.5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    flex-grow: 1;
    flex-shrink: 1;

    position: absolute;
    left: 25px;
    right: 8px;
}
.taskbarFocused {
    background-color: rgb(31, 88, 180);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.7) 1px 0px 1px inset;
}
.taskbarFocused:hover {
    background-color: rgb(53, 118, 243);
}
