.chatBody {
    margin-left: 4px;
    flex-grow: 1;
    overflow: auto;
}

.chatWindow {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.timestamp {
    padding-right: 3px;
    font-weight: bold;
}

.username {
    padding-right: 3px;
    font-weight: bold;
}

.username[data-value="TheGreatTodd"] {
    color: red;
}
.username[data-value="ThunDerGnome"] {
    color: #aca909;
}
.username[data-value="Johnnie6"] {
    color: #ad1399;
}
.username[data-value="thristhart"] {
    color: #6ba79d;
}

.textbox {
    width: 85%;
    background-color: white;
    border: solid thin black;
    height: 20px;
    display: inline-block;
}

.sendButton {
    margin-left: 4px;
    padding-left: 2px;
    padding-bottom: 2px;
    width: 10%;
    background-color: white;
    border: solid thin black;
    height: 20px;
    display: inline-block;
    background-color: rgb(129, 229, 207);
}

.chatBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;
    margin-left: 4px;
}
