.minesweeper {
    padding: 9px;
    border: 1.125px solid #7b7b7b;
    border-top-color: white;
    border-left-color: white;
    background-color: #c0c0c0;

    display: grid;
    grid-template-columns: auto 77.94px 77.94px 77.94px auto;
    grid-template-rows: max-content 234px;
    grid-template-areas:
        "padding mineCount face help"
        "padding minesweeper minesweeper minesweeper";
    gap: 2.7px;
}
.minesweeperFaceButton {
    width: 36px;
    height: 36px;
    background-image: url("../images/minesweeper/face_button.png");
    background-position-x: 0;
    background-size: calc(100% * 5);
    border: none;

    grid-area: face;
    align-self: flex-end;
    justify-self: center;
}
.minesweeperFaceButton:active {
    background-position-x: calc(-100% * 1);
}
.minesweeperFaceButton[data-state="lost"] {
    background-position-x: calc(-100% * 3);
}
.minesweeperFaceButton[data-state="won"] {
    background-position-x: calc(-100% * 4);
}
.minesweeper .helpButton {
    width: 36px;
    height: 36px;
    background-image: url("../images/minesweeper/help.png");
    background-position-x: 0;
    background-size: calc(100% * 2);
    border: none;
    border-radius: 0;
    color: transparent;

    grid-area: help;
    align-self: flex-end;
    justify-self: flex-end;

    position: relative;
    top: unset;
    right: unset;
}
.mineCount {
    grid-area: mineCount;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}
.minesweeperDigit {
    width: 17.55px;
    height: 31.05px;
    background-image: url("../images/minesweeper/digits.png");
    background-position-x: calc(-100% * var(--digit));
    background-size: calc(100% * 11);
}
.minesweeperGrid {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    border: 1.125px solid #7b7b7b;
    border-bottom-color: white;
    border-right-color: white;

    grid-area: minesweeper;
}

.minesweeperCell {
    background-color: #e0e0e0;
    background-image: url("../images/minesweeper/tile.png");
    background-size: 100%;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    border: none;
    display: inline-block;
}
.minesweeperCell:active {
    background-image: url("../images/minesweeper/numbers.png");
    background-position-x: 0px;
    background-size: calc(100% * 9);
}
.helpDialog .minesweeperCell {
    cursor: unset;
    width: 18px;
    height: 18px;
}

.minesweeperCell[data-state="flagged"],
.minesweeperCell[data-state="flaggedMine"] {
    background-image: url("../images/minesweeper/flag.png");
    background-size: 100%;
}
.minesweeperCell[data-state="mine"] {
    background-image: url("../images/minesweeper/mine.png");
    background-size: 100%;
    cursor: unset;
}

.minesweeper[data-state="won"] .minesweeperCell[data-state="hidden"] {
    cursor: unset;
    pointer-events: none;
}

.minesweeperCell[data-state="revealed"] {
    background-image: url("../images/minesweeper/numbers.png");
    background-position-x: calc(-100% * var(--nearby));
    background-size: calc(100% * 9);
    cursor: unset;
}

.exampleGrid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 54px;
    height: 54px;
}

.exampleLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 9px;
    padding: 4.5px;
}
