html,
body {
    margin: 0;
    padding: 0;
    height: 100%;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
button {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#ui {
    height: 100%;
}
